/TwitchDroneRemote/Logs
/TwitchDroneRemote/obj
/TwitchDroneRemote/Packages
/TwitchDroneRemote/Assembly-CSharp.csproj
/TwitchDroneRemote/TwitchDroneRemote.sln
/TwitchDroneRemote/.idea
/TwitchDroneRemote/Library
/TwitchDroneRemote/Assets/Modern UI Pack/Editor
/TwitchDroneRemote/Assets/Modern UI Pack/Scenes
/TwitchDroneRemote/Assets/Modern UI Pack/Scripts
/TwitchDroneRemote/Assets/Modern UI Pack/Add-ons.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Animations.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Editor.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Fonts.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Materials.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Read Me.txt
/TwitchDroneRemote/Assets/Modern UI Pack/Read Me.txt.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Resources.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Scenes.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Scripts.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Shaders.meta
/TwitchDroneRemote/Assets/Modern UI Pack/TextMesh Pro.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Textures.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Add-ons
/TwitchDroneRemote/Assets/Modern UI Pack/Animations
/TwitchDroneRemote/Assets/Modern UI Pack/TextMesh Pro
/TwitchDroneRemote/Assets/Modern UI Pack/Fonts
/TwitchDroneRemote/Assets/Modern UI Pack/Materials
/TwitchDroneRemote/Assets/Modern UI Pack/Resources
/TwitchDroneRemote/Assets/Modern UI Pack/Shaders
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Others
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Borders.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Gradients.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Icons.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Others.meta
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Borders
/TwitchDroneRemote/Assets/Modern UI Pack/Textures/Gradients
